.parent { 
display: grid; 
grid-template-columns: 100%; 
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 20px; 
}

#imagy{
text-align: center;
    width: 100%;
    margin: 0 auto;
    float:left;
    grid-row: 1;
    }

#imgleft img{
    float:left;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:0px;
    width:250px;
} 

#imgcenter {
    margin: 0 auto; 
    width: 70%;
}

#imgcenter img{
    text-align:center;
    width:250px;
    height:166px;
    padding-bottom:5px;
    padding-top:5px;
}

#imgright img{
    float:right;
    padding-bottom:5px;
    padding-top:5px;
    padding-right:0px;
    width:250px;
    height:166px;
} 






.texty {

	place-self:  start center; 
	grid-row: 2;

}


.rainbowText {

padding: 10px;
  font-family:Times;
  font-weight: bolder;
  
  font-size:70px;
  text-align: center;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 35s linear infinite;
}

@keyframes move {
  to {
    background-position: 500vh;
  }
}

.team {
grid-row: 3;
place-self: start center;
	
}

.button {
grid-row: 4;
place-self: start center;
  background-color: black;
  border: 1px solid;
  border-color: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-family: arial;
  font-style: italic;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer; 
}


/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: cyan;
}

/* selected link */
a:active {
  color: limegreen;
}
